.container {
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    width: 145px;
}

.a {
    text-decoration: none;
    transition: all 500ms ease;
}

.a:hover {
    color: #FF6060AA
}

.accueil {
    margin-right: 10px;
}

.inactive {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

@media (min-width: 650px) {
    .container {
        margin: 0 100px;
        margin-top: 40px;
        margin-bottom: 45px;
    }

    .logo {
        width: 210px;
    }
    
    .accueil {
        margin-right: 58px;
    }
}