.main {
    margin-left: 100px;
    margin-right: 100px;
}

.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 43px;
    padding: 56px 50px;
    background: #F7F7F7;
    border-radius: 25px;
}