.banner {
    position: relative;
}

.image {
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 24%;
    left: 24%;
    font-size: 3rem;
    font-weight: 500;
    color: #FFFFFF;
}