@import url(fonts.css);

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #FF6060;
  font-size: 0.75rem;
  font-weight: 500;
}

@media (min-width: 650px) {
  a {
    font-size: 1.5rem;
  }  
}