.carrousel {
    position: relative;
}

.angle {
    width: 12px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: filter 500ms ease;
}

.angle:hover {
    cursor: pointer;
    filter: brightness(70%);
}

.left {
    left: 12px
}

.right {
    right: 12px;
}

@media (min-width: 650px) {
    .angle {
        width: 48px;
        height: 80px;
    }

    .left {
        left: 25px
    }
    
    .right {
        right: 25px;
    }
}